In [1]:
import numpy as np
import pandas as pd

In [2]:
DIR = "20210227_195345"
MODEL = "VARIANCE_GAMMA"

In [3]:
path = f'_output/calibration/results/{DIR}/{MODEL}/parameters.csv'

In [4]:
df = pd.read_csv(path)
df['date'] = pd.to_datetime(df['date'], format='%Y%m%d')
df = df.set_index('date')
#df = df.loc[:, df.columns[3:]]
df['C'] = df['NU'].apply(lambda x: 1/x)

In [5]:
df

,cost,rmse,penalty,NU,SIGMA,THETA,C
date,,,,,,,
2019-04-02,0.060800,0.060800,0.0,0.000010,0.607491,-0.602530,100000.000000
2019-04-06,0.046699,0.046699,0.0,0.000010,0.676593,-0.600319,100000.000000
2019-05-06,0.016176,0.016176,0.0,0.000010,0.639565,-0.599586,100000.000000
2019-05-03,0.014447,0.014447,0.0,0.001827,0.618967,-0.597767,547.345375
2019-05-08,0.030970,0.030970,0.0,0.000010,0.661863,-0.600803,100000.000000
...,...,...,...,...,...,...,...
2020-06-29,0.058352,0.058352,0.0,0.290065,0.768604,-0.529531,3.447503
2020-07-01,0.066155,0.066155,0.0,0.280897,0.759448,-0.499198,3.560024
2020-06-27,0.052457,0.052457,0.0,0.351578,0.779666,-0.522626,2.844319
2020-06-30,0.066745,0.066745,0.0,0.243457,0.758060,-0.530997,4.107502
2020-05-09,0.018914,0.018914,0.0,0.000897,0.460896,-22.741091,1114.827202

In [6]:
df1 = df[(df.index >= '2019-04-01') & (df.index < '2019-10-01')]
df2 = df[(df.index >= '2019-10-01') & (df.index < '2020-02-01')]
df3 = df[(df.index >= '2020-02-01') & (df.index < '2020-07-01')]

In [7]:
df1_sum = df1.mean()
df2_sum = df2.mean()
df3_sum = df3.mean()

In [8]:
df1_sum

cost           0.033911
rmse           0.033911
penalty        0.000000
NU             0.007253
SIGMA          0.845792
THETA         -0.428437
C          52094.708696
dtype: float64

In [9]:
#for BS
df_frames = [df1_sum,df2_sum,df3_sum]
df = pd.DataFrame(df_frames, index=['bullish', 'calm', 'COVID'])
columns = df.columns
df = pd.DataFrame(np.round(df_frames, 2), index=['bullish', 'calm', 'covid'], columns=columns)
#del df['count']
df

         cost  rmse  penalty    NU  SIGMA  THETA         C
bullish  0.03  0.03      0.0  0.01   0.85  -0.43  52094.71
calm     0.04  0.04      0.0  0.10   0.75  -0.46   3292.63
covid    0.06  0.06      0.0  0.03   0.82  -1.19  16071.89

In [10]:
#for BS

#df_frames = [df1_sum['SIGMA'],df2_sum['SIGMA'],df3_sum['SIGMA']]
#df = pd.DataFrame(df_frames, index=['BULLISH', 'CALM', 'COVID'])
#columns = df.columns
#df = pd.DataFrame(np.round(df_frames, 2), index=['BULLISH', 'CALM', 'COVID'], columns=columns)
#del df['count']
#df